<!DOCTYPE html>
<html lang="en" ng-app="ProjectApp" ng-controller="ProjectController">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sprint OJ</title>

    <style type="text/css">
        #tellMessage{
            display: none;
        }
    </style>
    <style type="text/css">
        .second {
            width: 100%;
            height: 500px;
            display: none;
        }
        #inside:nth-child({{idex}}){
            background-color: GreenYellow !important;
            font-family: Arial;
            font-weight: bold;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        
    </script>

    <!-- Bootstrap Core CSS -->
    <link href="../../startbootstrap-sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../startbootstrap-sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script type="text/javascript" src="qJS.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../home.html">Sprint OJ</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>

                    <!-- Uncomment when dropdown is required -->

                    <!-- <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                     --><!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>

                    <!-- Uncomment when required -->

                    <!-- <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                     --><!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>


               <!--      Uncomment when required -->

                    <!-- <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                     --><!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="../../profile.html"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="../../login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="home.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                          -->   <!-- /.nav-second-level -->
                        <!-- </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>-->
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Admin's Corner<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                             <li id="admin2" ng-click="requested()">
                                    
                            </li>
                            <li id="tellMessage">
                                <a><b>{{tell}}</b></a>
                                
                            </li>
                            <li id="uploadQuest">
                                
                            </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <!--<li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul> -->
                                    <!-- /.nav-third-level -->
                                <!-- </li>
                            </ul> -->
                            <!-- /.nav-second-level -->
                        <!-- </li> -->
                      <!--   <li class="active">
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="active" href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul> -->
                            <!-- /.nav-second-level -->
                        <!-- </li> -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <h1 class="page-header">A. Anton and Danik
                        <img src="" id="aston" width="30" height="30"></h1>
                        <div>
                            <b>time limit per test : 1 second</b><br> 
                            <b>memory limit per test : 256 megabytes</b><br><br>
                            <b>Your best score: {{score}}</b>
                        </div>
                        <br><br>
                        <div>
                           Anton likes to play chess, and so does his friend Danik.
                        </div>
                        <br>
                        <div>
                            Once they have played n games in a row. For each game it's known who was the winner — Anton or Danik. None of the games ended with a tie.
                        </div>
                        <br>
                        <div>
                            Now Anton wonders, who won more games, he or Danik? Help him determine this.
                        </div>
                        <br><br>
                        <div>
                            <b>Input</b><br><br>
                            <div>The first line of the input contains a single integer n (1 ≤ n ≤ 100 000) — the number of games played.</div>
                            <div>The second line contains a string s, consisting of n uppercase English letters 'A' and 'D' — the outcome of each of the games. The i-th character of the string is equal to 'A' if the Anton won the i-th game and 'D' if Danik won the i-th game.
                            </div>
                            <br>
                            <b>Output</b><br><br>
                            <div>If Anton won more games than Danik, print "Anton" (without quotes) in the only line of the output.</div>
                            <div>If Danik won more games than Anton, print "Danik" (without quotes) in the only line of the output.</div>
                            <div>If Anton and Danik won the same number of games, print "Friendship" (without quotes).</div>
                        </div>
                        <br>
                        <div><b>Examples</b><br><br></div>
                        <div class="row">                            
                            
                            <div class="panel panel-default">
                                    <div class="panel-heading">
                                            <b>Input</b>
                                    </div>
                                    <div class="panel-body">6<br>ADAAAA</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <b>Output</b>
                                </div>
                                <div class="panel-body">Anton</div>
                            </div>
                            <div class="panel panel-default">
                                    <div class="panel-heading">
                                            <b>Input</b>
                                    </div>
                                    <div class="panel-body">7<br>DDDAADA</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <b>Output</b>
                                </div>
                                <div class="panel-body">Danik</div>
                            </div>
                            <div class="panel panel-default">
                                    <div class="panel-heading">
                                            <b>Input</b>
                                    </div>
                                    <div class="panel-body">6<br>DADADA</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <b>Output</b>
                                </div>
                                <div class="panel-body">Friendship</div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="col-lg-4">
                    <h1></h1>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Tags
                            </div>
                            <div class="panel-body">
                                <li>Easy</li>
                                <li>Brute force</li>
                                <li>Binary search</li>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h1></h1>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 Submit
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                <div class="list-group-item">
                                    <div class="dropdown">
                                        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
                                            <b >Language</b>
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li><a ng-click="ProgC()">C</a>
                                            </li>
                                            <li><a ng-click="ProgCpp()">C++</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a ng-click="ProgPy()">Python</a>
                                            </li>
                                            <li><a ng-click="ProgJava()">Java</a>
                                            </li>
                                        </ul>
                                        {{language}}
                                        <!-- /.dropdown-user -->
                                    </div>
                                </div>
                                    <a href="#" class="list-group-item">
                                        <input type = "file" file-model = "myFile"/>
                                        
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <button ng-click = "uploadFile()" >Upload File</button>
                                        <br><br><b>{{messageAston}}</b>
                                    </a>
                                    <a class="list-group-item">
                                    <em><b>Tip</b> : You can submit <b>any</b> number of times you want. Your best submission is considered for computing total score. </em>
                                    </a>
                                </div>
                                <!-- /.list-group -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    
                     <div class="col-lg-4"><br>
                        <div class="panel panel-success">

                            <div class="panel-heading">
                                <b>Leaderboard.</b>
                            </div>

                            <div class="panel-body">
                                <table width="100%" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr class="odd gradeX">
                                            <th>User #</th>
                                            <th>Username</th>
                                            <th>Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="inside" class="odd gradeX" ng-repeat="(x, score) in allS">
                                            <td>{{x+1}}</td>
                                            <td>{{score[0]}}</td>
                                            <td>{{score[1]}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <b><div id="totalM"></div></b>
                            </div>
                         </div>
                </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <div  class="second" id="second" >
        <div id="wrapper">
            <div id="page-wrapper">
                <div id="container-fluid">
                    <div id="row">
                        
                        <div class="col-lg-8"><br>
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <b>Your solution was successfully submitted.</b>
                            </div>

                            <div class="panel-body">
                                <table width="100%" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr class="odd gradeX">
                                            <th>Test Case #</th>
                                            <th>Verdict</th>
                                            <th>Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX" id="testCase1Row" data-ng-click='testcaseshow(1)'>
                                            <td><a>1</a></td>
                                            <td><img src="" width="20" height="20" id="testCase1"></td>
                                            <td id="score1"></td>
                                        </tr>
                                        <tr class="odd gradeX" id="testCase2Row" data-ng-click='testcaseshow(2)'>
                                                <td><a>2</a></td>
                                                <td><img id="testCase2" src="" width="20" height="20"></td>
                                                <td id="score2"></td>
                                        </tr>
                                        <tr class="odd gradeX" id="testCase3Row" data-ng-click='testcaseshow(3)'>
                                            <td><a>3</a></td>
                                            <td><img id="testCase3" src="" width="20" height="20"></td>
                                            <td id="score3"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <b><div id="totalM"></div></b>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../../startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>

</body>

</html>
