<!DOCTYPE html>
<html ng-app="ProjectApp">
	<head>
		<title>
			Sprint OJ
		</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="login.js"></script>
	</head>
	<body ng-controller="ProjectController">
<!-- color this with red	 -->	
		<span>{{message}}<br><br></span>
<!-- the above thing -->
		Username : <input type="text" ng-model="Sign_name" ><br>
		Password : <input type="password" ng-model="Sign_password"><br>
		Re-type password : <input type="password" ng-model="Sign_re_password"><br><br>
		<button ng-click="sign_in(Sign_name, Sign_password, Sign_re_password)" >
			Sign in
		</button><br>
		<!-- Checking teh response .. => The response is {{newLogin}} -->
		<br>
	</body>
</html>